<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lucasluo.user.dao.UserDao">
  <resultMap id="userMap" type="org.lucasluo.user.model.User">
    <id property="id" column="ID" />
    <result property="primaryKey" column="PRIMARY_KEY" />
    <result property="userName" column="USER_NAME" />
    <result property="password" column="PASSWORD" />
    <result property="realName" column="REAL_NAME" />
    <result property="creator" column="CREATOR" />
    <result property="createTime" column="CREATE_TIME" />
    <result property="modifier" column="MODIFIER" />
    <result property="modifyTime" column="MODIFY_TIME" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, PRIMARY_KEY, USER_NAME, PASSWORD, REAL_NAME, CREATOR, CREATE_TIME, MODIFIER, MODIFY_TIME
  </sql>

  <select id="selectByUserName" parameterType="java.lang.String" resultMap="userMap">
    select
    <include refid="Base_Column_List" />
    from ironman.im_user
    where USER_NAME = #{username}
  </select>
</mapper>